body{
  margin:0;
  font-family:sans-serif;
  color:white;
  text-align:center;
  background:linear-gradient(160deg,#062a27,#0c3f39,#041c19);
}

section{padding:100px 20px}

.card{
  margin:auto;
  max-width:500px;
  background:rgba(255,255,255,.08);
  padding:25px;
  border-radius:20px;
}

/* DOOR */
#gate{
  position:fixed;
  inset:0;
  z-index:999;
  display:flex;
}

.door{
  width:50%;
  background:linear-gradient(145deg,#b68d40,#ffd700,#b68d40);
  transition:2.5s;
}

.open .leftDoor{transform:translateX(-100%)}
.open .rightDoor{transform:translateX(100%)}
