body{
  margin:0;
  font-family:Poppins;
  color:white;
  overflow-x:hidden;

  background:
  radial-gradient(circle at 50% 20%, rgba(0,255,200,.15), transparent 60%),
  linear-gradient(160deg,#062a27,#0c3f39,#041c19);
}

/* batik */
body::before{
  content:"";
  position:fixed;
  inset:0;
  background:url("https://www.transparenttextures.com/patterns/batik.png");
  opacity:.08;
}

/* hero */
.hero{
  padding:150px 20px;
  text-align:center;
}

h1{
  font-family:'Playfair Display';
  font-size:60px;
  background:linear-gradient(45deg,#fff,#ffd700);
  -webkit-background-clip:text;
  color:transparent;
}

.section{padding:100px 20px;text-align:center}

.card{
  max-width:600px;
  margin:40px auto;
  padding:30px;
  border-radius:25px;
  backdrop-filter:blur(12px);
  background:rgba(255,255,255,.05);
}

/* button */
.btn{
  padding:10px 25px;
  border:none;
  border-radius:30px;
  margin:5px;
  background:linear-gradient(45deg,#d4a373,#ffd700);
}

/* gallery */
.gallery{
  display:flex;
  overflow-x:auto;
  gap:20px;
}
.gallery img{
  border-radius:20px;
  height:320px;
}

/* WAYANG */
.wayang{
  position:fixed;
  bottom:0;
  width:220px;
  opacity:.18;
}
.left{left:0}
.right{right:0;transform:scaleX(-1)}

/* GATE */
#gate{
  position:fixed;
  inset:0;
  background:#041c19;
  z-index:9999;
}
.door{
  position:absolute;
  width:50%;
  height:100%;
  background:linear-gradient(145deg,#b68d40,#ffd700);
  transition:2.5s;
}
.leftDoor{left:0}
.rightDoor{right:0}

.open .leftDoor{transform:rotateY(-110deg)}
.open .rightDoor{transform:rotateY(110deg)}
