body{
  margin:0;
  font-family:serif;
  color:#fff;
  background:#0f3b2e url("assets/img/batik.jpg");
  background-size:cover;
  overflow-x:hidden;
}

/* ===== OPENING ===== */
.opening{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#08251d;
}

.door-wrapper{
  position:relative;
  width:400px;
  height:600px;
}

.door{
  position:absolute;
  width:50%;
  height:100%;
  object-fit:cover;
  transition:1.8s ease;
}

.door-left{
  left:0;
  border-right:3px solid gold;
}

.door-right{
  right:0;
  transform:scaleX(-1);
  border-left:3px solid gold;
}

.open .door-left{
  transform:translateX(-120%);
}

.open .door-right{
  transform:translateX(120%) scaleX(-1);
}

#enterBtn{
  position:absolute;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  padding:12px 25px;
  background:gold;
  color:black;
  border:none;
  border-radius:8px;
}

/* ===== WAYANG ===== */
.wayang{
  position:fixed;
  top:50%;
  width:120px;
  opacity:0.85;
}

.wayang-left{ left:0 }
.wayang-right{ right:0 }

/* ===== BUNGA JATUH ===== */
.flower{
  position:fixed;
  top:-20px;
  width:15px;
  height:15px;
  background:pink;
  border-radius:50%;
  animation:fall linear infinite;
}

@keyframes fall{
  to{
    transform:translateY(110vh) rotate(360deg);
  }
}

/* ===== GALERI ===== */
.gallery{
  display:flex;
  gap:10px;
  justify-content:center;
}

.gallery img{
  width:200px;
  border-radius:10px;
}

.hidden{ display:none }
