body{
  margin:0;
  font-family:Poppins, sans-serif;
  color:white;
  text-align:center;

  /* emerald */
  background:linear-gradient(160deg,#062a27,#0c3f39,#041c19);
}

/* batik texture */
body::before{
  content:"";
  position:fixed;
  inset:0;
  opacity:.07;
  background:
  repeating-linear-gradient(
  45deg,
  #ffffff10 0 2px,
  transparent 2px 10px
  );
}

/* section */
section{padding:80px 20px}

/* card */
.card{
  max-width:500px;
  margin:auto;
  padding:25px;
  border-radius:20px;
  background:rgba(255,255,255,.08);
}

/* gallery */
.gallery{
  display:flex;
  overflow-x:auto;
  gap:15px;
}
.gallery img{
  height:260px;
  border-radius:15px;
}

/* gate */
#gate{
  position:fixed;
  inset:0;
  display:flex;
  z-index:999;
}
.door{
  width:50%;
  background:linear-gradient(145deg,#b68d40,#ffd700,#b68d40);
  transition:2.5s;
}
.open .leftDoor{transform:translateX(-100%)}
.open .rightDoor{transform:translateX(100%)}

/* wayang */
.wayang{
  position:fixed;
  bottom:0;
  width:150px;
  height:300px;
  background:black;
  opacity:.15;
}
.left{left:0}
.right{right:0}

/* falling flower */
.flower{
  position:fixed;
  width:6px;
  height:6px;
  border-radius:50%;
  background:white;
  animation:fall linear infinite;
}
@keyframes fall{
  from{transform:translateY(-10vh)}
  to{transform:translateY(110vh)}
}

button{
  padding:8px 18px;
  margin:5px;
  border:none;
  border-radius:20px;
}
